{{ $issueID := .Get 0 }}
{{ range $.Site.Data.requirements }}
{{ if or (not $issueID) (eq ($issueID | int) (.id | int)) }}
<table class="requirement">
  <tr class="requirement-header">
    <th>ID</th>
    <th>REQ-{{ .id }} - {{ .title }}</th>
  </tr>
  <tr>
    <th>Type</th>
    <td>{{ .content.Type | markdownify  }}</td>
  </tr>
  <tr>
    <th>Description</th>
    <td>{{ .content.Description | markdownify }}</td>
  </tr>
  <tr>
    <th>Rationale</th>
    <td>{{ .content.Rationale | markdownify  }}</td>
  </tr>
</table>
{{ end }}
{{ end }}
